.w-15 {
  width: 15% !important;
}
.border-hover-white:hover {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-white-rgb),var(--bs-border-opacity)) !important;
}
.border-hover-info:hover {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-info-rgb),var(--bs-border-opacity)) !important;
}

.bg-darker {
  background: rgba(0, 0, 0, 0.5);
}
.bg-darkerer {
  background: rgba(0, 0, 0, 0.7);
}

.top-10 {
  top: 10% !important;
}

/* card element */
.variant-card {
  width: 16rem;
  min-height: 19.75rem;
}
@media only screen and (max-width: 1920px) {
  .variant-card {
    width: 14rem;
    min-height: 17.28rem;
  }
}
@media only screen and (max-width: 1111px) {
  .variant-card {
    width: 12rem;
    min-height: 14.81rem;
  }
}
@media only screen and (max-width: 855px) {
  .variant-card {
    width: 8rem;
    min-height: 9.875rem;
  }
}
@media only screen and (max-width: 720px) {
  .variant-card {
    width: 6rem;
    min-height: 7.4rem;
  }
}
